.nav .nav-link.active {
  background-color: transparent;
  border: none;
  color: black;
  border-bottom: 2px solid #e53012
}

.nav .nav-link:not(.active) {
  color: grey;
}

.h1 {
  font-size: 6rem;
}

.h2 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}
.ms-6 {
  margin-left: 5rem !important;
}

h3 {
  font-size: 4.6rem;
}

h5 {
  font-size: 2rem;
}

.h0 {
  font-size: 8rem;
}
@font-face { font-family: "HyundaiSansHead-Regular"; src: url("priv/HyundaiSansHead-Regular.eot"); src: url("priv/HyundaiSansHead-Regular.eot?#iefix") format("embedded-opentype"), url("priv/HyundaiSansHead-Regular.woff2") format("woff2"), url("priv/HyundaiSansHead-Regular.woff") format("woff"), url("priv/HyundaiSansHead-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

h1 { font-family: "HyundaiSansHead-Regular", Verdana, sans-serif; font-size: xx-large;} 

@font-face { font-family: "HyundaiSansHead-Light"; src: url("priv/HyundaiSansHead-Light.eot"); src: url("priv/HyundaiSansHead-Light.eot?#iefix") format("embedded-opentype"), url("priv/HyundaiSansHead-Light.woff2") format("woff2"), url("priv/HyundaiSansHead-Light.woff") format("woff"), url("priv/HyundaiSansHead-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

h3 { font-family: "HyundaiSansHead-Regular", Verdana, sans-serif; }

@font-face { font-family: "HyundaiSansText-Regular"; src: url("priv/HyundaiSansText-Regular.eot"); src: url("priv/HyundaiSansText-Regular.eot?#iefix") format("embedded-opentype"), url("priv/HyundaiSansText-Regular.woff2") format("woff2"), url("priv/HyundaiSansText-Regular.woff") format("woff"), url("priv/HyundaiSansText-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "HyundaiSansText-Regular", Verdana, sans-serif; } 

@font-face { font-family: "HyundaiSansText-MediumItalic"; src: url("priv/HyundaiSansText-MediumItalic.eot"); src: url("priv/HyundaiSansText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("priv/HyundaiSansText-MediumItalic.woff2") format("woff2"), url("priv/HyundaiSansText-MediumItalic.woff") format("woff"), url("priv/HyundaiSansText-MediumItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HyundaiSansText-Italic"; src: url("priv/HyundaiSansText-Italic.eot"); src: url("priv/HyundaiSansText-Italic.eot?#iefix") format("embedded-opentype"), url("priv/HyundaiSansText-Italic.woff2") format("woff2"), url("priv/HyundaiSansText-Italic.woff") format("woff"), url("priv/HyundaiSansText-Italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

h2 { font-family: "HyundaiSansText-MediumItalic", Verdana, sans-serif; }
