.nav .nav-link.active {
  background-color: transparent;
  border: none;
  color: black;
  border-bottom: 2px solid #e53012
}

.nav .nav-link:not(.active) {
  color: grey;
}

.h1 {
  font-size: 6rem;
}

.h2 {
  font-size: 4rem;
}

.ms-6 {
  margin-left: 5rem !important;
}

h3 {
  font-size: 3rem;
}

.h0 {
  font-size: 8rem;
}
@font-face { font-family: "HyundaiSansHead-Regular"; src: url("HyundaiSansHead-Regular.eot"); src: url("HyundaiSansHead-Regular.eot?#iefix") format("embedded-opentype"), url("HyundaiSansHead-Regular.woff2") format("woff2"), url("HyundaiSansHead-Regular.woff") format("woff"), url("HyundaiSansHead-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

h1 { font-family: "HyundaiSansHead-Regular", Verdana, sans-serif; font-size: xx-large;} 

@font-face { font-family: "HyundaiSansHead-Light"; src: url("HyundaiSansHead-Light.eot"); src: url("HyundaiSansHead-Light.eot?#iefix") format("embedded-opentype"), url("HyundaiSansHead-Light.woff2") format("woff2"), url("HyundaiSansHead-Light.woff") format("woff"), url("HyundaiSansHead-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

h3 { font-family: "HyundaiSansHead-Light", Verdana, sans-serif; }

@font-face { font-family: "HyundaiSansText-Regular"; src: url("HyundaiSansText-Regular.eot"); src: url("HyundaiSansText-Regular.eot?#iefix") format("embedded-opentype"), url("HyundaiSansText-Regular.woff2") format("woff2"), url("HyundaiSansText-Regular.woff") format("woff"), url("HyundaiSansText-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "HyundaiSansText-Regular", Verdana, sans-serif; } 