{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <br>
    <div class="row justify-content-center">
        <div class="col-auto align-self-center">
            <img src="/media/{{object.flag}}" width="120" />
        </div>
        <div id="title" class="col-auto h1 mb-0 align-self-center">
            {{object.full_name}}
        </div>
    </div> 
    <br>
    <div class="row">
        <div class="col-auto text-nowrap" style="min-width: 41ch">
            <div class="card">
                <div class="card-body shadow">
                    <h5 class="card-title"> Next Service </h5> 
                    <h3 id="service-box-{{object.name}}"class="card-text">{{object.when|date:"H:i:s"}}</h3>
                    <hr id="until-line-box-{{object.name}}" style="display: none">
                    <h5 class="card-title" id="until-title-box-{{object.name}}" style="display: none ; font-family: HyundaiSansText-Italic"> Until Next </h5> 
                    <h2 id="until-box-{{object.name}}"class="card-text" style="display: none">00:00</h2>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col-auto text-nowrap" style="min-width: 41ch">
            <div id="remaining-box-{{object.name}}" style="visibility: hidden" class="card" >
                <div class="card-body shadow">
                    <h5 class="card-title"> Remining Time </h5> 
                    <h3 class="card-text">{{object.duration|date:"H:i:s"}}</h3>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col-auto text-nowrap" style="min-width: 41ch">
            <div class="card">
                <div class="card-body shadow">
                    <h5 class="card-title"> Local Time </h5> 
                    <h3 class="card-text" id="local-time"></h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card text-nowrap shadow" style="min-width: 70ch">
        <div class="card-body pt-0 row justify-content-center">
            <div id="timeleft-{{object.name}}" style="min-width: 53%" class="col-auto h0 ps-5 mt-0">
                <div class="spinner-border h5" role="status"></div>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}