{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <div class="row">
        <div class="col"> Service for {{object.name}} will take place on </div> 
        <div class="col" id="timer-date-box">{{object.when|date:"M d, Y H:i:s"}}</div>
    </div>
    <div class="row">
        <div class="col"> and will last</div>
        <div class="col" id="timer-duration-box">{{object.duration|time:"H:i"}}</div>
    </div>
    <div> Time left:</div>
    <div id="timeleft" class="tect-center mt-3 h1">
        <div class="spinner-border" role="status"></div>
    </div>
{% endblock content %}