{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <img src="/media/{{object.flag}}" width="100" />
        </div>
        <div class="col-auto">
            <h1> {{object.full_name}} </h1>
        </div>
    </div> 
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Next Service </h5> 
                    <h3 class="card-text">{{object.when|date:"H:i:s"}}</h3>
                    <div id="timer-date-box-{{object.name}}" style="display: none">{{object.when|date:"c"}}</div>
                    <div id="time-to-red-{{object.name}}" style="display: none">{{object.time_to_red|time:"i:s"}}</div>
                </div>
            </div>
        </div>
        <div class="col" width="col-15">
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Local Time </h5> 
                    <h3 class="card-text" id="local-time"></h3>
                    <div id="timer-duration-box-{{object.name}}" style="display: none">{{object.duration|time:"H:i"}}</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div id="timeleft-{{object.name}}" class="text-center h1 mt-3">
                <div class="spinner-border h5" role="status"></div>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}