{% extends "base.html" %}

{% block content %}
    {% for obj in object_list %}
        <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
        <div class="row">
            <div class="row">
                <div class="col"> Service for {{obj.name}} will take place on </div> 
                <div class="col" id="timer-date-box">{{obj.when|date:"M d, Y H:i:s"}}</div>
            </div>
            <div class="row">
                <div class="col"> and will last</div>
                <div class="col" id="timer-duration-box">{{obj.duration|time:"H:i"}}</div>
            </div>
            <div> Time left:</div>
            <div id="timeleft" class="text-center mt-3 h1">
                <div class="spinner-border" role="status"></div>
            </div>
        </div>
       <hr> 
    {% endfor %}
{% endblock %}
```