{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <div class="row mb-0 pb-0 justify-content-center">
        <div class="col-auto mb-0 pb-0"> Local Time </div>
        <div class="col-1 mb-0 pb-0 h5" id="local-time"></div>
    </div>
    <hr class="mt-0 pt-0"> 
    {% for obj in object_list %}
        <div class="row justify-content-center">
            <div class="col-auto align-self-center">
                <img src="/media/{{obj.flag}}" width="100" />
            </div>
            <div class="col-4">
                <h1>{{ obj.full_name }}</h1>
                <div class="row">
                        <div class="col-auto">
                            <div> Next Service </div>
                            <h5 id="service-box-{{obj.name}}">{{obj.when|date:"H:i:s"}}</h5>
                        </div>
                        <div class="col-auto">
                            <div id="until-title-box-{{obj.name}}" style="display: none"> Remaining </div>
                            <h5 id="until-box-{{obj.name}}" style="display: none"></h5>
                        </div>
                        <div id="remaining-box-{{obj.name}}" style="visibility: hidden" class="col-auto" >
                            <div> Remining Time </div> 
                            <h5>{{obj.duration|date:"H:i:s"}}</h5>
                        </div>
                   </div>
            </div>
            <div class="col-6 align-self-center">
                <div class="row justify-content-center">
                    <div id="timeleft-{{obj.name}}" style="min-width: 52%" class="col-auto h2">
                        <div class="spinner-border h5" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr> 
    {% endfor %}
{% endblock %}
```